/* main color FFFFFF */
/* text color 212121 */
/* paragraph color 757575 */
/* side color #2196F3 */

:root {
 --primary-text-color: #2196F3;
 --title-text-color: #212121;
 --accent-color: #757575;
 --title-accent-color:#ffff;

}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto';
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.logo {
   color:var(--title-text-color);
   font-family: 'Raleway';
}
.first-logo{
    color: var(--primary-text-color);
    font-family: 'Raleway';
}

.nav-objects:hover, .nav-objects:focus {
    color: var(--primary-text-color);
    
}
.nav-objects {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-first:hover, .contacts-first:focus {
    color: var(--primary-text-color);
}

.contacts-first {
    color: var(--accent-color);
}

.efficiency-section {
    
    background-color: #2F303A;
}

.efficiency {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color:#FFFFFF;
}

.button{
   margin-left: 600px;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
    background-color: var(--primary-text-color);
    color: #FFFFFF;
}

.ability-option{
    color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.ability-text {
    color: var(--accent-color);
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.responsibilities, .team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.participant {
   color: var(--title-text-color);
   font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.part-aby {
    color: var(--accent-color);
    font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-footer {
    color: #FFFFFF;
}
.contact-footer {
    background-color: #2F303A;
}

.adress {
    color: #FFFFFF;
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.contact-adress {
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
/* portfolio  */
/* main color FFFFFF */
/* text color 212121 */
/* paragraph color 757575 */
/* side color #2196F3 */

/* header portfolio */
   .nav-portfolio a:hover, .nav-portfolio a:focus {
    color: var(--primary-text-color);
   }

   .nav-portfolio a{
    color: var(--title-text-color);
   }

   .contacts-portfolio a:hover, .contacts-portfolio a:focus {
color: var(--primary-text-color);
   }

   .contacts-portfolio a {
    color: var(--accent-color);
   }

   .portfolio-button a:hover, .portfolio-option a:focus {
    color:var(--title-accent-color);
    background-color: var(--primary-text-color);
   }
   
   .portfolio-button a{
    color: var(--title-text-color);
    background-color: #F5F4FA;

    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
   }

.portfolio-gallery h3{
    color:var(--title-text-color);
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio-gallery p{
    color: var(--accent-color);
    font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
}




  

   


